<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <!-- Columna de información de la empresa -->
      <div class="col-md-4 mb-3 mb-md-0">
        <h5 class="text-uppercase mb-3">Mi Portal de Mascotas</h5>
        <p class="mb-3">Conectando a mascotas con familias amorosas desde 2024. Tu portal de confianza para todo lo relacionado con el cuidado y adopción de mascotas.</p>
        <div class="d-flex">
          <a href="#" class="text-white mr-3"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="text-white mr-3"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white mr-3"><i class="fab fa-instagram"></i></a>
          <a href="#" class="text-white"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      
      <!-- Columna de enlaces rápidos -->
      <div class="col-md-3 mb-3 mb-md-0">
        <h5 class="text-uppercase mb-3">Enlaces Rápidos</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/" class="text-white">Inicio</a></li>
          <li class="mb-2"><a href="/nosotros" class="text-white">Nosotros</a></li>
          <li class="mb-2"><a href="/mascotas" class="text-white">Ver Mascotas</a></li>
          <li class="mb-2"><a href="/mascotas/crear" class="text-white">Registrar Mascota</a></li>
        </ul>
      </div>
      
      <!-- Columna de servicios -->
      <div class="col-md-2 mb-3 mb-md-0">
        <h5 class="text-uppercase mb-3">Servicios</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#" class="text-white">Adopción</a></li>
          <li class="mb-2"><a href="#" class="text-white">Cuidados</a></li>
          <li class="mb-2"><a href="#" class="text-white">Veterinaria</a></li>
          <li class="mb-2"><a href="#" class="text-white">Tienda</a></li>
        </ul>
      </div>
      
      <!-- Columna de contacto -->
      <div class="col-md-3 mb-0">
        <h5 class="text-uppercase mb-3">Contacto</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><i class="fas fa-map-marker-alt mr-2"></i> Av. Principal 123, Ciudad</li>
          <li class="mb-2"><i class="fas fa-phone mr-2"></i> (123) 456-7890</li>
          <li class="mb-2"><i class="fas fa-envelope mr-2"></i> info@miportaldemascotas.com</li>
        </ul>
      </div>
    </div>
  </div>
  
  <!-- Copyright -->
  <div class="py-2 mt-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <div class="container text-center">
      <small>&copy; 2024 Mi Portal de Mascotas. Todos los derechos reservados.</small>
    </div>
  </div>
</footer>

<!-- Scripts de Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>